body {
  text-align: center;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: [col1] 75% [col2] 25%;
  border: 1px solid #b2b2b2;
  grid-template-rows: [row1] 100% [row2] 100%;
  text-align: center;

  color: #fff;
}

.grid-cell-map {
  background-color: #dedede;
  padding: 30px 5px 25px 5px;
  border-right: 1px solid #b2b2b2;
  display: grid;
  align-items: center;
  justify-content: center;
}
.grid-cell-buttons {
  background-color: #fff;

  display: grid;
}
.map-title {
  color: #054362;
  background: #fff;

  margin-bottom: 5px;
  border: 1px solid #b2b2b2;
  border-top: 0px dashed #b2b2b2;
  font-family: "Gill Sans", sans-serif;
}
.buttons-title {
  color: #054362;
  border-bottom: 1px solid #b2b2b2;

  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 75px;
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
}
.selected-date-title {
  color: #054362;
  padding: 20px;
  font-size: 28px;
  font-weight: bolder;
  border: 1px solid #b2b2b2;
  font-family: "Gill Sans", sans-serif;
  border-bottom: 0px solid #b2b2b2;
}

.number-of-trips-title {
  color: #008b53;
  padding: 10px;
  font-size: 24px;
  font-weight: bolder;
  border: 1px solid #b2b2b2;
  font-family: "Gill Sans", sans-serif;
  border-bottom: 0px solid #b2b2b2;
}
